/* src/App.css */

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.ant-menu-dark.ant-menu-inline .ant-menu-item {
  color: #fff; /* 白色字体 */
}

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
  background-color: #85a5ff !important; /* geekblue-3 */
}